export PGDATABASE=crypto_shop_dev
export GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/${PGDATABASE}?sslmode=disable
export DATABASE_URL="${GOOSE_DBSTRING}"
export GOOSE_DRIVER=postgres
export GOOSE_MIGRATIONS_DIR=db/migrations

# openssl rand 64 | base64
export SERVER_PRIVATE_KEY_BASE=

# Two master keys, one stays offline and the other one is on the server
export COLD_PRIVATE_KEY=
export COLD_PUBLIC_KEY=
